
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-project {
  flex: 2;
  overflow: hidden;
}

.col-action {
  max-width: 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sources-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0px;
  margin-bottom: 0;
}

ul.sources-list li {
  height: 30px;
  white-space: nowrap;
}

div.row > #map-title {
  flex: 4;
}

div.row > #map-version {
  flex: 1;
}

a.mat-primary {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

p#map-version {
  margin-top: 10px;
}
