
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-project {
  flex: 2;
  overflow: hidden;
}

.col-middle {
  flex: 2; /* make col-middle content appear in the middle */
  /* align-content: end; display: grid; aligns to bottom of column */ 
  align-content: end;
  display: grid;
}

.out-of-scope-text {
  border: 1px solid black;   
  border-radius: 10px;
  padding: 20px;
  width: 200px;
}

.col-action {
  max-width: 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sources-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0px;
  margin-bottom: 0;
}

ul.sources-list li {
  height: 30px;
  white-space: nowrap;
}

div.row > #map-title {
  flex: 4;
}

a.mat-primary {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
