<mat-card class="details-card">
  <mat-card-content>
    <div class="row">
      <h2 id="map-title" class="one-line-ellipse">{{mapping.project.title}}</h2>
      <p id="map-version" class="one-line-ellipse"><b>{{'MAP.VERSION' | translate}}</b>: {{mapping.mapVersion}}</p>
    </div>
    <div class="row">
      <div class="col-project">
        <ul class="sources-list">
          <li class="one-line-ellipse"><b>{{'SOURCE.SOURCE' | translate}}:</b>&nbsp;{{mapping.source.name}},
            <i>{{'MAP.VERSION' | translate}}</i> {{mapping.source.version}}
          </li>
          <li class="one-line-ellipse"><b>{{'MAP.TARGET' | translate}}:</b>&nbsp;
            <app-source-version [version]="mapping.toVersion"></app-source-version>
          </li>
          <li class="one-line-ellipse"><b>{{'MAP.SCOPE' | translate}}:</b>&nbsp;
            {{mapping.toScope}}
          </li>
        </ul>
      </div>
      <div class="col-action">
        <small><i>{{'MAP.LAST_UPDATED' | translate}}: {{mapping.modified | lastupdated}}</i></small>
        <p *ngIf="hasHandler()">
          <a class="mat-primary" mat-stroked-button (click)="clickHandler()">
            {{(editable ? 'MAP.MAP_EDIT_BUTTON' : 'MAP.MAP_VIEW_BUTTON') | translate}}
          </a>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
