<mat-drawer-container>
  <mat-drawer class="mapping-add" mode="over" position="end" [(opened)]="opened">
    <app-mapping-add (closed)="closeCreate()" [mapping]="newMapping" [mode]="mode"></app-mapping-add>
  </mat-drawer>
  <mat-toolbar>
    <span class="space-fill"></span>
    <button mat-raised-button color="accent" (click)="createMap()">{{'MAP.MAP_ADD' | translate}}</button>
  </mat-toolbar>
  <app-errormessage [error]="error"></app-errormessage>

  <div class="container-scroll-list">
    <ng-container *ngIf="projects.length > 0; else noResults">
      <ng-container>
        <mat-form-field id='filter' appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <mat-paginator #paginator
                       [length]="totalElements || 0"
                       [pageIndex]="currentPage"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pageChanged($event)"
                       [showFirstLastButtons]="true">
        </mat-paginator>

      </ng-container>

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let project">{{project.title}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let project">{{project.description}}</td>
        </ng-container>
        <ng-container matColumnDef="modified">
          <th mat-header-cell *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let project">{{selectedMapping[project.id]?.modified | lastupdated}}</td>
        </ng-container>
        <ng-container matColumnDef="users">
          <th mat-header-cell *matHeaderCellDef>Users</th>
          <td mat-cell *matCellDef="let project"><app-project-badges [project]="project"></app-project-badges></td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef>Version</th>
          <td mat-cell *matCellDef="let project">
            <mat-select [(value)]="selectedMapping[project.id]">
              <mat-option *ngFor="let m of project.maps" [value]="m">
                {{m.mapVersion}}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let project">
            <button mat-stroked-button color="primary" title="{{'MAP.NEW_VERSION' | translate}}"
                    [disabled]="!isOwner(project)" (click)="newVersion(project)"><mat-icon>add</mat-icon></button>
            <span class="space-fill">&nbsp;</span>
            <button mat-stroked-button color="primary" title="{{'FORM.VIEW' | translate}}"
                    [disabled]="!hasProjectRole(project)" (click)="viewMapping(project)"><mat-icon>visibility</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>
    <ng-template #noResults>
      <div class="project-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>info</mat-icon>
              {{'MAP.NO_MAPS_FOUND' | translate}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </ng-template>
  </div>
</mat-drawer-container>
