.container {
  height: calc(100vh - 249px);
  margin: 10px;
}

.container.has-error {
  height: calc(100vh - 327px);
}

.container-scroll-list {
  height: calc(100vh - 306px);
  overflow-y: auto;
  width: 100%;
}

.container-scroll-list.has-error {
  height: calc(100vh - 385px);
}

.filter {
  width: 300px;
}

.header {
  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.mapping-add {
  background-color: #e6e6e6;
}

.mat-cell {
  padding: 10px;
}

.mat-cell > button {
  min-width: 50px;
}

.mat-column-description {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
}

.mat-column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}

.mat-column-users {
  min-width: 20%;
}

.mat-column-version {
  width: 10%;
}

.mat-form-field {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 6px;
  float: left;
  z-index: 3;
}

.mat-row {
  height: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .mat-grid-tile {
    height: 300px;
  }

  .project-card {
    height: auto;
  }

  .col-left, .col-right {
    width: 100%;
    float: left;
  }
}

@media only screen and (max-height: 920px) {
  .container-scroll-list {
    height: calc(99vh - 249px);
  }
}

