# See http://help.github.com/ignore-files/ for more about ignoring files.

# UI build and env
/ui/snapclient/dist
/ui/snapclient/tmp
/ui/snapclient/out-tsc
/ui/snapclient/.env
/ui/snapclient/certs
/ui/snapclient/src/environments/environment.ts
/ui/snapclient/.idea
ui/snapclient/src/environments/environment.ts
snap2snomed.iml
ui/ui.iml
ui/snapclient/src/assets/config.json

# UI dependencies
/ui/snapclient/node_modules
/ui/snapclient/node
/ui/node_modules

# ui test reports
/ui/snapclient/TESTS*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

**/target
*.zip
