.table-panel {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

.table-panel table {
  width: 100%;
}

.mat-column-status {
  width: 100px;
}

.mat-column-actions {
  text-align: center;
}

.mat-column-actions button {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}

.mat-column-actions .mat-icon {
  height: 30px;
  width: 30px;
  line-height: 16px;
}

td.mat-cell {
  padding-right: 5px;
}
