.mat-form-field {
  width: 90%;
}

button {
  margin-top: 24px;
}

#notes-list {
  max-height: 305px;
  overflow-y: auto;
}

@media only screen and (max-width: 1400px) {
  .mat-form-field {
    width: 80%;
  }
}
