.mat-form-field {
  width: 100%;
}

.mat-icon {
  margin-right: 8px;
}

button {
  margin-top: 24px;
  float: left;
}

#input {
  flex: 1;
}

#list {
  flex: 2;
}

#notes {
  display: flex;
  gap: 20px;
}

#notes-list {
  max-height: 305px;
  overflow-y: auto;
}
